ul {
  list-style-type: none;
}

.list {
  padding-top: 30px;
  padding-left: 24px;
}

.hr-planets {
  height: 1px;
  background-color: #ffffff;
  opacity: 0.2;
  margin: 24px;
}

a:link,
a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .planet-menu {
    display: none;
  }
}
