/* .planet-menu {
  display: block;
}

.planet-menu-item {
  display: none;
}

.planet-menu-item {
  display: flex;
  flex-direction: column;
}

@media (min-width: 990px) {
  .planet-menu {
    display: none;
  }
} */
