/* * {
  background-color: yellow;
} */

/* .planet-menu {
  display: block;
} */

.planet-menu {
  display: none;
}

.planet-menu-item {
  display: none;
}

@media (min-width: 990px) {
  .planet-menu {
    display: none;
  }
}
