@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #070724;
  background-image: url(./starter-code/assets/background-stars.svg);
  color: white;
  /* font-family: 'Antonio', sans-serif;
  font-family: 'League Spartan', sans-serif; */
}
